body {
	margin:0;
	text-align:center;
}

#button1 {
	cursor:pointer;
	margin:40px 0 0 0;
}

.popup {
	position: absolute;
	height:100%;
	width:100%;
	top:0;
	left:0;
	display:none;
}
	.popup_bg {
		background:rgba(0,0,0,0.4);
		position:absolute;
		z-index:1;
		height:100%;
		width:100%;
	}
	.form {
		position: relative;
		margin:4px auto;
		z-index:2;
		width:200px;
		padding:40px 20px;
		background:#FFFFFF;
		border:1px solid #666666;
		border-radius:20px;
	  box-shadow:0 0 2px rgba(0,0,0,0.5);
	  font-size: 10pt;
	}
		.form input {
			width:96%;
			padding:5px 2%;
			margin:10px 0;
  		border-radius:4px;
		}
			#textarea {
				width: 96%;
				height: 150px;
				resize: none;
			}
			#button2 {
				width:96%;
				padding:5px 2%;
				margin:10px 0;
  			border-radius:4px;
			}

@media screen and (max-width: 768px)
{
	#button1 {
		margin:60px 0 0 0;
		padding: 15px 32px;
	}
}
